<a href="https://colab.research.google.com/github/DavidAntonio7/DavidAntonio7-quero-data-team-training-2/blob/main/desafio5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [3]:
spark = SparkSession.builder.getOrCreate()

In [39]:
df = spark.read.csv("sales_data.csv", header=True, inferSchema=True)

In [67]:
df.show(20)

+---------------+-----------------+--------------+-----------------+--------------------+-------------+-----------------------+-----------------+-------------+-------------+------------------------+------------+
|      user_name|user_country_name|user_city_name|     product_name| product_description|product_brand|product_value_in_dolars|       store_name|store_country|   store_city|datetime_of_the_purchase|buyed_amount|
+---------------+-----------------+--------------+-----------------+--------------------+-------------+-----------------------+-----------------+-------------+-------------+------------------------+------------+
|      Mark King|               UK|     Sheffield|            Dryer|Electric dryer wi...|      Samsung|                 699.99|         Waitrose|           UK|     Brighton|    2024-10-18 02:05:...|           4|
|   Alice Hughes|               UK|       Bristol|     Robot Vacuum|Smart robot vacuu...|       iRobot|                 299.99|  Supercheap Auto|    Australia|       Cairns|    2024-12-10 17:22:...|           2|
|   Diana Hughes|               UK|     Leicester|          Monitor|27-inch 144Hz gam...|         ASUS|                 349.99|              B&Q|           UK|  Southampton|    2025-01-09 16:15:...|           2|
|   Diana Hughes|              USA|     Cleveland| Electric Griddle|Large electric gr...| Black+Decker|                  49.99|           Lowe's|          USA|   Fort Worth|    2024-10-25 03:02:...|           3|
|Timothy Collins|              USA|     Charlotte|  Air Conditioner|Portable air cond...|    Honeywell|                 399.99|              B&Q|           UK|      Reading|    2024-11-02 11:20:...|           1|
|  Angela Murphy|           Canada|       Windsor|           Peeler|Vegetable peeler ...|          OXO|                   9.99|         Waitrose|           UK|     Brighton|    2024-11-27 21:32:...|           5|
|    Diana Hayes|           Canada|       Kelowna|      Slow Cooker|6-quart slow cook...|    Crock-Pot|                  79.99|         Waitrose|           UK|     Brighton|    2024-11-28 19:11:...|           3|
|  James Jackson|               UK|    Birmingham|          Toaster|2-slice toaster w...|     Breville|                  59.99|  Supercheap Auto|    Australia|       Cairns|    2025-01-11 14:54:...|           4|
| Lillian Hughes|              USA|  Philadelphia|   Coffee Grinder|Burr coffee grind...|      Baratza|                 199.99|      Officeworks|    Australia|      Mildura|    2024-12-24 04:52:...|           2|
| Cheryl Russell|               UK|    Birmingham|  Pressure Cooker|Electric pressure...|  Instant Pot|                  99.99|     Sears Canada|       Canada|   St. John's|    2024-10-24 09:11:...|           1|
|   Megan Hughes|           Canada|       Windsor|Bluetooth Speaker|Portable Bluetoot...|          JBL|                 149.99|            Argos|           UK|       London|    2024-11-28 11:19:...|           3|
|   Betty Wright|        Australia|    Gold Coast|     Chef's Knife|Professional chef...|      WÃ¼sthof|                  99.99|       John Lewis|           UK|      Belfast|    2025-02-08 09:32:...|           5|
|     Lisa Young|           Canada|   Quebec City|    Potato Masher|Stainless steel p...|          OXO|                  19.99|  Marks & Spencer|           UK|      Bristol|    2024-12-01 02:25:...|           2|
|  Evelyn Hughes|               UK|      Brighton| Sous Vide Cooker|Precision sous vi...|        Anova|                 129.99|  Marks & Spencer|           UK|      Bristol|    2024-11-26 04:27:...|           1|
|  Robert Harris|              USA|       Houston|   Food Processor|Versatile food pr...|   KitchenAid|                 199.99|       Home Depot|          USA|      Chicago|    2024-11-10 08:43:...|           1|
|    Ruth Hughes|               UK|    Birmingham|       Deep Fryer|Electric deep fry...|        T-fal|                  89.99|    Harvey Norman|    Australia|    Melbourne|    2024-12-10 18:26:...|           3|
|Steven Gonzalez|              USA| San Francisco|           Grater|Box grater for ch...|   Microplane|                  19.99|          Loblaws|       Canada|      Calgary|    2025-01-13 22:08:...|           3|
|     Ann Hughes|              USA|     Baltimore|    Salad Spinner|Manual salad spin...|          OXO|                  24.99|     Office Depot|    Australia|   Townsville|    2025-01-23 21:49:...|           5|
|  James Jackson|               UK|    Birmingham|     Baking Sheet|Non-stick baking ...|  Nordic Ware|                  19.99|              B&Q|           UK|      Reading|    2024-10-20 12:00:...|           3|
|   Alice Hughes|        Australia|    Townsville|          Blender|High-speed blende...|        Ninja|                  99.99|Fry's Electronics|          USA|San Francisco|    2025-01-31 05:45:...|           2|
+---------------+-----------------+--------------+-----------------+--------------------+-------------+-----------------------+-----------------+-------------+-------------+------------------------+------------+
only showing top 20 rows

In [41]:
df_user = (
    df
    .select('user_name','user_country_name', 'user_city_name')
    .dropDuplicates()
    .withColumn('user_id', F.monotonically_increasing_id())
)

df_product = (
    df
    .select('product_name','product_description','product_brand','product_value_in_dolars')
    .dropDuplicates()
    .withColumn('product_id', F.monotonically_increasing_id())
)

df_store = (
    df
    .select('store_name','store_country','store_city')
    .dropDuplicates()
    .withColumn('store_id', F.monotonically_increasing_id())
)

In [42]:
df_with_ids = (
    df
    .join(df_user,    ['user_name','user_country_name', 'user_city_name'],                              'inner')
    .join(df_product, ['product_name','product_description','product_brand','product_value_in_dolars'], 'inner')
    .join(df_store,   ['store_name','store_country','store_city'],                                      'inner')
)

In [52]:
df_purchase = (
    df_with_ids
    .select('user_id','product_id','store_id','datetime_of_the_purchase','buyed_amount')
)

# Dimension tables

In [47]:
df_user.show(5)

+--------------+-----------------+--------------+-------+
|     user_name|user_country_name|user_city_name|user_id|
+--------------+-----------------+--------------+-------+
|  Sandra Green|           Canada|       Halifax|      0|
|Cheryl Russell|               UK|    Birmingham|      1|
|    Diana Reed|        Australia|        Mackay|      2|
|  Alice Hughes|        Australia|    Townsville|      3|
|  Megan Hughes|              USA|       Buffalo|      4|
+--------------+-----------------+--------------+-------+
only showing top 5 rows

In [48]:
df_product.show(5)

+-------------+--------------------+-------------+-----------------------+----------+
| product_name| product_description|product_brand|product_value_in_dolars|product_id|
+-------------+--------------------+-------------+-----------------------+----------+
|     E-reader|Lightweight e-rea...|       Kindle|                  89.99|         0|
|  Rice Cooker|Automatic rice co...|    Zojirushi|                 129.99|         1|
|     Keyboard|Mechanical keyboa...|        Razer|                 129.99|         2|
|Cutting Board|Bamboo cutting bo...|    John Boos|                  39.99|         3|
|   VR Headset|Virtual reality h...|       Oculus|                 299.99|         4|
+-------------+--------------------+-------------+-----------------------+----------+
only showing top 5 rows

In [49]:
df_store.show(5)

+-----------+-------------+-----------+--------+
| store_name|store_country| store_city|store_id|
+-----------+-------------+-----------+--------+
|Giant Tiger|       Canada|Quebec City|       0|
|     Lowe's|          USA| Fort Worth|       1|
|     Newegg|          USA|  San Diego|       2|
| John Lewis|           UK|    Glasgow|       3|
|      Boots|           UK|    Cardiff|       4|
+-----------+-------------+-----------+--------+
only showing top 5 rows

#Fact tables

In [54]:
df_purchase.show(5)

+-------+----------+--------+------------------------+------------+
|user_id|product_id|store_id|datetime_of_the_purchase|buyed_amount|
+-------+----------+--------+------------------------+------------+
|     18|        41|      60|    2024-10-18 02:05:...|           4|
|     25|        16|      52|    2024-12-10 17:22:...|           2|
|     32|        25|      63|    2025-01-09 16:15:...|           2|
|     33|        34|       1|    2024-10-25 03:02:...|           3|
|     83|        27|      46|    2024-11-02 11:20:...|           1|
+-------+----------+--------+------------------------+------------+
only showing top 5 rows

# questoes

- Quais foram os paÃ­ses com maior nÃºmero de vendas ?

In [65]:
(
    df_purchase
    .join(df_store,'store_id', 'inner')
    .groupBy('store_country')
    .agg(F.count(F.col('store_id')).alias('numero_vendas'))
    .orderBy('numero_vendas', ascending = False)
).show()

+-------------+-------------+
|store_country|numero_vendas|
+-------------+-------------+
|       Canada|        13035|
|    Australia|        12469|
|          USA|        12271|
|           UK|        12225|
+-------------+-------------+

- Quais paÃ­ses tem mais lojas ?

In [66]:
(
    df_store
    .groupBy('store_country')
    .agg(F.count(F.col('store_id')).alias('numero_lojas'))
    .orderBy('numero_lojas', ascending = False)
).show()

+-------------+------------+
|store_country|numero_lojas|
+-------------+------------+
|       Canada|          18|
|          USA|          17|
|           UK|          17|
|    Australia|          17|
+-------------+------------+

- Quais paÃ­ses tiveram o maior valor total bruto de vendas ?

In [72]:
(
    df_purchase
    .join(df_store,'store_id', 'inner')
    .join(df_product,'product_id','inner')
    .withColumn('price', F.col('product_value_in_dolars') *  F.col('buyed_amount'))
    .groupBy('store_country')
    .agg(F.sum('price').alias('total_bruto'))
    .orderBy('total_bruto', ascending = False)
).show()

+-------------+-----------------+
|store_country|      total_bruto|
+-------------+-----------------+
|       Canada| 7246033.97000056|
|    Australia|6896470.250000497|
|          USA|6860512.980000538|
|           UK|6808784.100000538|
+-------------+-----------------+